*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    background-color:#ffffff ;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #8a7d9b;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial;
    padding-right: 10px;
}
.logo {
    max-height: 70px;
}

.nav ul {
    list-style-type: none;
    display: flex;
}

.nav li {
    margin-right: 16px;
}

.nav a {
    text-decoration: none;
    color: #000000;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.nav a:hover {
    background-color: #cea0ea;
    border-radius: 20px;
}
.imagen-enlace{
    width: 100%;
    height: 100px;  
}
.cuadros {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 0;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.cuadro {
    text-align: center;
    background-color: #A6A5A5 ;
    border-radius: 0px;
    padding: 70px;
    width: 300px;
}
.imagen{  
    margin-top: 2%;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
}
.image{
    border: 2px solid #000000;
    margin-top: -25%;
    border-radius: 50%;
}
.botonn{
    border: 3px solid black;
    margin-top: 10px;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    border: #A58BBA;
    text-decoration: none;
    background-color: #A58BBA;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}
.image-row {  
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    gap: 110px;
}

.sudadera{
    border: 5% solid black; 
    width: 330px;
    height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}
.lentes{ 
    margin-top: 20px;
    width: 450px; 
    height: 250px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}
.pantalon{
  
    margin-right: 20px;
    width: 300px; 
    height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}
.offer-row {
    display: flex;
    gap: 250px;
}

.offer-card {
    background-color: #fff;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.discount {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.oferta{
    text-decoration: none;
    margin-top: -25px;
    margin-left: 170px;
    color: #ff0000;
    font-size: 15px;
}
.oferta1{
    text-decoration: none;
    margin-top: -17px;
    margin-left: 225px;
    color: #ff0000;
    font-size: 15px;
}

.description {
    position: absolute;
    margin-top: 30px;
    left: 70px;
    color: #666;
    font-size: 16px;
}
.description1 {
    position: absolute;
    margin-top: 30px;
    left: 43%;
    color: #666;
    font-size: 16px;
}
.description2{
    position: absolute;
    margin-top: 30px;
    left: 77%;
    color: #666;
    font-size: 16px;
}
.boton1n{
    margin-top: 70px;
    margin-left: 100px;
}
.boton2n{
    margin-top: 70px;
    margin-left: 100px;
}
.boton3n{
    margin-top: 70px;
    margin-left: 100px;
}
button {
    background-color: #c3b0d3;
    border: none;
    padding: 10px 20px;
    color: #333;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b39fc2;
}
.image-row {  
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    gap: 110px;
}

.strella{
    border: 5% solid black; 
    width: 330px;
    height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}
.top{ 
    width: 330px;
    height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}
.gorra{
    margin-right: 20px;
    width: 300px; 
    height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}
.caja{
    display: flex;
    gap: 250px;
}

.caja1{
    background-color: #fff;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.ofe{
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}
.of{
    text-decoration: none;
    margin-top: -25px;
    margin-left: 170px;
    color: #ff0000;
    font-size: 15px;
}
.of1{
    text-decoration: none;
    margin-top: -17px;
    margin-left: 225px;
    color: #ff0000;
    font-size: 15px;
}

.aho {
    position: absolute;
    margin-top: 30px;
    left: 70px;
    color: #666;
    font-size: 16px;
}
.aho1 {
    position: absolute;
    margin-top: 30px;
    left: 43%;
    color: #666;
    font-size: 16px;
}
.aho2{
    position: absolute;
    margin-top: 30px;
    left: 77%;
    color: #666;
    font-size: 16px;
}
.btn1{
    margin-top: 70px;
    margin-left: 100px;
}
.btn2{
    margin-top: 70px;
    margin-left: 100px;
}
.btn3{
    margin-top: 70px;
    margin-left: 100px;
}
button {
    background-color: #c3b0d3;
    border: none;
    padding: 10px 20px;
    color: #333;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b39fc2;
}
.nex{
    margin-left: 35%;
}
.boton{
    background-color: #ccc;
    border-radius: 20px;
    width: 100px;
}
.nex1{
    margin-left: 44%;
    margin-top: -35px;
}

.boton1{
    text-align: center;
    background-color: #ccc;
    border-radius: 70%;
    width: 20px;
}
.tex{
    text-align: center;
    
}
.nex2{
    margin-left: 48%;
    margin-top: -35px;
}

.boton2{
    text-align: center;
    background-color: #ccc;
    border-radius: 70%;
    width: 20px;
}
.tex{
    text-align: center;
    
}
.nex3{
    margin-left: 52%;
    margin-top: -36px;
}

.boton3{
    text-align: center;
    background-color: #ccc;
    border-radius: 70%;
    width: 20px;
}
.tex{
    text-align: center;
    
}
.nex4{
    margin-left: 56%;
    margin-top: -36px;
}

.boton4{
    background-color: #ccc;
    border-radius: 20px;
    width: 100px;
}
.tex{
    text-align: center;
    
}
.anun{
    margin-top: 60px;
    width: 100%;
    height: 120px;  
}
.letra{
    margin-top:-60px ;
    margin-left: 20px;
}
.diaria{
    color: #fff;
}
.ver{
    margin-left: 39%;
}
.registro{
    margin-left: 38.5%;
    margin-top: 20px;
}
.registro1{
    width:300px;
    height: 30px;
    background-color:#C98BDA ;
    border-radius: 0px;
}
.cliente{
    margin-top: 10px;
    margin-left: 43%;
}
.cliente2{
    margin-top: -12.5px;
    margin-left: 53%;
    color: #77009F;
}
.inicio{
    margin-top: 15px;
    width: 100%;
    height: 30px;
    background-color: #C98BDA;
}
.inicio2{
    padding: 10px;
    text-align: center;
    justify-content: center;
}
.ini{
    text-decoration: none;
    color: #000;
}
.footer {
    margin-top: 10px;
    background-color: #D9D9D9;
    text-align: center;
    padding: 10px;
}

.footer a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}
.año{
    margin-top: 20px;
}
@media (max-width: 320px) {
    .header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
    }

    .nav li {
        margin: 5px 0;
    }
   

    .cuadros {
        grid-template-columns: 1fr 1fr;
    }

    .image-row, .offer-row, .caja {
        display: block;
        gap: 40px;
        
    }

    .image-row img, .offer-card, .caja1 {
        width: 100%;
        height: auto;
    }
   .cuadro{
    text-align: center;
    background-color: #A6A5A5 ;
    border-radius: 0px;
    padding: 0px;
    width: 100px;

}

    .next {
        flex-direction: column;
        gap: 5px;
    }

    .boton1, .boton2, .boton3, .boton4 {
        width: 80px;
        height: 30px;
    }

    .footer {
        padding: 5px;
    }

    .footer a {
        margin: 0 5px;
    }
}
